---
---

@import 'main';

/* append your custom style below */

.floating-image {
  width: 50%;
}

@media (max-width: 400px) {
  .floating-image {
    width: auto;
    max-width: 400px;
  }
}

.post-tail-wrapper {
  margin-top: 2rem;
}

.reference-box {
  background-color: var(--highlight-bg-color);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-left: 0;
}

#sidebar .sidebar-bottom {
  margin-top: 1rem;
}

.ruby-webring-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
  box-sizing: border-box;
}

#sidebar .webring-nav .webring-btn {
  border: 2px solid var(--sidebar-btn-color);
}

#sidebar .webring-nav .webring-btn:hover {
  background-color: var(--sidebar-hover-bg);
}
